<%= turbo_frame_tag dom_id(post) do %>
  <div class="card mr-3 mb-2" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><%= post.title %></h5>
      <div class="d-flex justify-content-between">
        <%= link_to 'read', post_path(post), class: 'card-link', data: { turbo_frame: 'show' } %>
        <%= link_to 'edit', edit_post_path(post), class: 'card-link text-secondary', data: { turbo_frame: 'show' } %>
        <%= link_to 'delete', post_path(post), method: :delete, class: 'text-danger' %>
      </div>
    </div>
  </div>
<% end %>
