<div class="container mt-5">
  <h1 class="mb-4">Posts list</h1>
  <div class="d-flex w-75 flex-wrap" id="posts">
    <% @posts.each do |post| %>
      <%= turbo_frame_tag dom_id(post) do %>
        <div class="card mr-3 mb-2" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title"><%= post.title %></h5>
            <div class="d-flex justify-content-between">
              <%= link_to 'Read content', post_path(post), class: 'card-link' %>
              <%= link_to 'delete', post_path(post), method: :delete, class: 'text-danger' %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>  
  </div>
  <!-- Lazy loaded new form -->
  <%#= turbo_frame_tag "new_post", src: new_post_path(@post), target: '_top' %>
  <!-- fetch the new form on click -->
  <%= turbo_frame_tag "new_post" do %>
    <%= link_to 'Add a new post', new_post_path(@post), class: 'btn btn-primary mt-5' %>
  <% end %>
</div>

